.btn {
    background: none;
    border: none;
    outline: none;
    font-size: inherit;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.btn--primary {
    color: white;
    background: hsl(200, 100%, 50%);
}

.btn--primary:hover {
    background: hsl(200, 100%, 35%);
}

.btn--danger {
    color: white;
    background: hsl(0, 100%, 50%);
}

.btn--danger:hover {
    background: hsl(0, 100%, 35%);
}